<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="get">
  <table width="200" border="1">
    <tr>
      <th scope="row"><a href="/add_branch">add branch</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/view_branch">view branch</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/view_customers">view customers</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/view_forwarded_atm_request">view& approve atm req</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/view_complaints">view complaint</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/view_feedback">view feedback</a></th>
    </tr>
  </table>
</form>
</body>
</html>
