{% extends 'admin/admin_index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="/edit_branch_post/{{ id }}" onsubmit="return validate()" method="post">
    {% csrf_token %}
  <table width="245" border="1">
    <tr>
      <th width="65" scope="row" style="color: #414f52">Branch Name</th>
      <td width="164"><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" required class="form-control" value="{{ data.branch_name }}" /></td>
    </tr>
    <tr>
      <th scope="row" style="color: #414f52">IFSC</th>
      <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" required class="form-control" value="{{ data.ifsc }}" /></td>
    </tr>
    <tr>
      <th scope="row" style="color: #414f52">Pincode</th>
      <td><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" required class="form-control" value="{{ data.pincode }}" /></td>
    </tr>
    <tr>
      <th scope="row" style="color: #414f52">Email</th>
      <td><label for="textfield4"></label>
      <input type="text" name="textfield4" id="textfield4" required class="form-control" value="{{data.email }}" /></td>
    </tr>
    <tr>
      <th scope="row" style="color: #414f52">Phone</th>
      <td><label for="textfield5" ></label>
      <input type="text" name="textfield5" id="textfield5" required class="form-control" value="{{data.phone }}" /></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><input type="submit" name="button" class="btn btn-ensurance" id="button" value="Update" /></th>
    </tr>
  </table>
</form>
<script>
    function validate() {
    var regex = /^[a-zA-Z0-9]*$/;
    var regex3 =  /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;
    var regex1 = /^[0-9]*$/;
    var regex2 =  /(.+)@(.+){2,}\.(.+){2,}/;

    var bname=document.getElementById("textfield").value;
    var bifsc=document.getElementById("textfield2").value;
    var bpin=document.getElementById("textfield3").value;
    var bphone=document.getElementById("textfield5").value;
    var bemail=document.getElementById("textfield4").value;


    if (!regex.test(bname)) {
        alert("Branch name should only contain alphabets and digits");
        return false;
    }
    else if (!regex.test(bifsc)) {
        alert("IFSC should only contain alphabets and digits");
        return false;
    }
    else if (!regex1.test(bpin)) {
        alert("Pincode should only contain digits");
        return false;
    }
    else if (!regex3.test(bphone)) {
        alert("Phone number should only contain digits");
        return false;
    }
    else if (!regex2.test(bemail)) {
        alert("Email should only contain alphabets and digits");
        return false;
    }
    else{

        return true;
    }
</script>
</body>
</html>
{% endblock %}