{% extends 'admin/admin_index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="get">
  <table class="table table-active">
    <tr style="color: #414f52" bgcolor="#f0ffff">
      <th scope="col">S/No</th>
              <th scope="col">Date</th>

      <th scope="col">Customer name</th>
      <th scope="col">Feedback</th>
      <th scope="col">Rating</th>
    </tr>
      {% for i in data %}
    <tr style="color: #414f52">
      <td>{{ forloop.counter }}&nbsp;</td>
        <td>{{ i.date }}&nbsp;</td>

      <td>{{ i.USER.name }}&nbsp;</td>
      <td>{{ i.feedback }}&nbsp;</td>
      <td>{{ i.rating }}&nbsp;</td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}