{% extends 'user/user_index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="get">
    {% for i in data %}
  <table class="table table-active">
    <tr>
      <th scope="row" style="color: #414f52" >Card No</th>
      <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" value="{{ i.card_no }}" readonly /></td>
    </tr>
    <tr>
      <th scope="row" style="color: #414f52">CVV</th>
      <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" value="{{ i.cvv }}" readonly /></td>
    </tr>
    <tr>
      <th scope="row" style="color: #414f52">Expiry Date</th>
      <td><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" value="{{ i.exp_date }}" readonly /></td>
    </tr>
      {% endfor %}
      <tr>
          <td>
              <p><a href="/user_send_request{{ i.id }}#products" class="btn btn-outline-light" >Send Request</a></p>
          </td>
      </tr>
  </table>
</form>
</body>
</html>
{% endblock %}