<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="get">
  <table width="200" border="1">
    <tr>
      <th scope="row"><a href="/view_profile">View Profile</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/add_customer">Add Customer</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/view_customer">View Customer</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/view_atm_card_request">ATM Card Request</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/approved_req">View Approved ATM Card</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/view_block_details">View Block Details</a></th>
    </tr>
  </table>
</form>
</body>
</html>
