{% extends 'branch/branch_index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="post">
  <table class="table table-active">
    <tr>
      <th scope="row" style="color: #414f52">Branch Name</th>
      <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" value="{{ data.branch_name }}" readonly /></td>
    </tr>
    <tr>
      <th scope="row" style="color: #414f52">IFSC</th>
      <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" value="{{ data.ifsc }}" readonly /></td>
    </tr>
    <tr>
      <th scope="row" style="color: #414f52">Pincode</th>
      <td><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" value="{{ data.pincode }}" readonly /></td>
    </tr>
    <tr>
      <th scope="row" style="color: #414f52">Phone</th>
      <td><label for="textfield4"></label>
      <input type="text" name="textfield4" id="textfield4" value="{{ data.phone }}" readonly /></td>
    </tr>
    <tr>
      <th scope="row" style="color: #414f52">Email</th>
      <td><label for="textfield5"></label>
      <input type="text" name="textfield5" id="textfield5" value="{{ data.email }}" readonly /></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}